{% extends 'base.html' %}

{% block content %}

<section class="content-header">
    <div class="container-fluid">
        <form method="GET">
            <div class="form-row">
                <div class="col-2">
                </div>
                {% if user.is_staff %}
                <div class="col form-group">
                    <!-- <label>Subject:</label> -->
                    <div class="input-group">
                        <input type="text" class="form-control" name="idno_extact" placeholder="Student ID">
                    </div>
                </div>
                <div class="col form-group">
                    <!-- <label>Subject:</label> -->
                    <div class="input-group">
                        <select class="form-control" name="section_extact">
                            <option value="">SECTION</option>
                            {% for section in ALL_SECTIONS %}
                                <option>{{ section.section }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col form-group">
                    <!-- <label>Subject:</label> -->
                    <div class="input-group">
                        <select class="form-control" name="year_extact">
                            <option value="">YEAR</option>
                            {% for year in ALL_YEARS %}
                                <option>{{ year.year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}

                <div class="col form-group">
                    <!-- <label>Subject:</label> -->
                    <div class="input-group">
                        <select class="form-control" name="subject_extact">
                            <option value="">SUBJECT</option>
                            {% for subject in ALL_SUBJECTS %}
                                <option value="{{ subject.subject_name }}">{{ subject.subject_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="col-1">
                    <button type="submit" class="form-control btn btn-outline-secondary btn-sm"><i
                            class="fas fa-search"></i></button>
                </div>
                <div class="col-2">
                </div>
            </div>
        </form>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Requested by <strong>{{ user_id }}</strong></h3>
                    <a href="#" class="btn btn-outline-secondary btn-sm float-sm-right">Print</a>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Student ID</th>
                                <th>Date & Time</th>
                                <th>Faculty</th>
                                <th>Subject</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for row in data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ row.student_id }}</td>
                                <td>{{ row.subject_id }}</td>
                                <td>{{ row.faculty_id }}</td>
                                <td>{{ row.date_attended }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


{%endblock%}