{% extends 'users/user_base.html' %}
{% load crispy_forms_tags %}

  {% block user_form_content %}
  <!-- Container -->
  <div id="container" style="margin-top: 20px;margin-bottom: 0px;width: 35%">

      <!-- Header -->
      <div id="header">
          <div id="branding">
            <h1 id="site-name"><a href="#">Attendance Automation</a></h1>
          </div>
      </div>
      <!-- END Header -->

      <!-- Content -->
      <div id="content" class="colM">

        <div id="content-main">
          <form method="post" id="login-form">
            {% csrf_token %}
            <div class="form-row">
              {{form.username|as_crispy_field}}
            </div>

            <div class="form-row">
              {{form.password1|as_crispy_field}}
            </div>

            <div class="form-row">
              {{form.password2|as_crispy_field}}
            </div>

            <div class="submit-row">
              <label>&nbsp;</label><input type="submit" value="Sign Up">
            </div>
          </form>

        </div>

        <br class="clear">

      </div>
      <!-- END Content -->

      <div id="footer" >
        <div style="float:right; margin-bottom:15px">
            <a href="{% url 'login' %}">Have an Account?</a>
        </div>
      </div>
  </div>
        {% endblock %}
