{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>

<html lang="en-us" >
<head>
  <title>Attendance Automation | Authentication</title>
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">

  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">

  <meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class="login" data-admin-utc-offset="19800" style="background-color:whitesmoke;">

<style>
 div#container{
  border: 1px solid;
  box-shadow: 5px 5px 5px #888888;
 }
</style>

            {% block user_form_content %}
            {% endblock %}

</body>
</html>
